/* BASIC CSS FOR PAGE */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}

html, body {
    height: 100%;
    width: 100%;
}


/*  NAVBAR DESIGN  */

nav {
    position: fixed;
    display: flex;
    width:  100%;
    padding: 2vw 8vw;
    justify-content: space-between;
    background-color: #111;
    z-index: 10;

    &:hover {
        .nav-2 {
            height: 100%;
            bottom: -100%;
            transition: all ease-out .4s;
            background-color: #111;
        }
        .nav-2 h5 {
            opacity: 1;
            transition: all ease-in .8s;
        }
    } 
}

.nav {
    display: flex;
}

nav h1 {
    color: gold;
}

nav button {
    border-radius: 50px;
    background-color: crimson;
    font-size: .8vw;
    font-weight: 700;
    padding:6px;
}

.nav-2 {
    height: 0%;
    width: 80%;
    position: absolute;
    bottom: 0;
    border-bottom: 1px solid #dadada;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-left: 11vw;
}

.nav-2 h5 {
    text-align:left;
    padding: 0;
    opacity: 0;
    line-height: 1.3vw;
    font-size: .9vw;
}

.nav h4 {
    font-size: 1.6vw;
    text-transform: uppercase;
    padding: 1vw;
}


/* PAGE 1  */


.page1 {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    line-height: 10vw;
    padding-top: 8vw;
    position: relative;
}

.page1 h1 {
    font-size: 8vw;
    text-transform: uppercase;
    color: gold;
}

.page1 p {
    text-align: center;
    line-height: 3vh;
    font-weight: 400;
}

.elm {
    display: flex;
    align-items: center;
}

.elm h4 {
    line-height: 2vw;
    font-size: 2vw;
    font-weight: 600;
    padding: 5px 10px;
    border: .1px solid whitesmoke;
    border-radius: 50px;
    margin: 1px;
}

.elm span {
    font-size: 2vw;
    margin: 3px;
    font-weight: 900;
    color: azure;
}

.moving-div {
    position: absolute;
    margin-top: 12vh;
    bottom: 2%;
    white-space: nowrap;
    overflow: hidden;
    width: 48%;
}

.moving-div .move {
    display: inline-block;
    animation-name: Char;
    animation-duration: 6s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.moving-div .move img {
    height: 9vw;
    margin: 0 1vw;
}


@keyframes Char {
    0%{
        transform: translateX(0%);
    }
    100%{
        transform: translateX(-100%);
    }
}

.left-blur {
    height: 70%;
    background:linear-gradient(to left,transparent, #111);
    width: 2%;
    top: -0;
    left: 0;
    z-index: 2;
    position: absolute;
}
.right-blur {
    height: 70%;
    background:linear-gradient(to right,transparent, #111);
    width: 10%;
    top: -0;
    right: 0;
    z-index: 2;
    position: absolute;
}

.page2 {
    height: 100vh;
    width: 100%;
    background-color: #111;
}
